* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto";
  font-weight: 700;
  background-color: #fff;
  font-style: normal;
  color: #070707;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

address {
  font-style: normal;
}

.section-inner {
  max-width: 973px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-header {
  padding-top: 32px;
  border-bottom: 1px solid #828282;
}

.section-header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 33px;
}

.section-header .nav__item {
  font-size: 18px;
  line-height: 22px;
  color: #828282;
}

.section-header .nav__item:hover {
  color: #070707;
}

.section-main {
  padding-top: 40px;
}

.section-main .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-main .content h1 {
  font-size: 47.3392px;
  line-height: 59px;
}

.section-main .content .info {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.section-main .content .info span {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.section-main .content .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.section-main .content .buttons button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: inherit;
}

.section-main .content .buttons button:active {
  color: #070707;
}

.section-main .photo {
  margin-bottom: 100px;
}

.section-main .photo img {
  width: 100%;
  height: 387px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 43%;
     object-position: center 43%;
}

.section-about {
  padding-top: 120px;
  padding-bottom: 100px;
  background-color: #F6F6F6;
}

.section-about .content .content__title {
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
  margin-bottom: 17px;
}

.section-about .content__text {
  margin: 0 auto;
  max-width: 485px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
}

.content__title {
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
}

.section-skills {
  padding-top: 90px;
  padding-bottom: 100px;
}

.section-skills .content__title {
  margin-bottom: 70px;
}

.section-skills .content__text {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 80px;
}

.section-skills .content__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-skills .content__list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-skills .content__list ul li .image {
  height: 88px;
  margin-bottom: 23px;
}

.section-skills .content__list ul li .subtext {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.section-skills .content__list ul li .stars {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.section-skills .content__list ul li .stars li:not(:last-child) {
  margin-right: 9px;
}

.section-skills .content__list ul li .stars li:not(:last-child) img {
  border-radius: 1px;
}

.section-portfolio {
  padding-top: 110px;
  background: #F6F6F6;
  padding-bottom: 1px;
}

.section-portfolio .content__title {
  margin-bottom: 47px;
}

.section-portfolio .section-portfolio__block_item {
  margin-bottom: 100px;
}

.section-portfolio .section-portfolio__block_item .block__image {
  margin-bottom: 45px;
}

.section-portfolio .section-portfolio__block_item .block__image img {
  width: 100%;
  height: auto;
}

.section-portfolio .section-portfolio__block_item .block__subtext {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.section-contact {
  padding-top: 115px;
  padding-bottom: 120px;
}

.section-contact .section-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-contact .content__title {
  margin-bottom: 20px;
}

.section-contact .subtext {
  margin-bottom: 30px;
  display: block;
  text-align: center;
}

.section-contact .send-message_button {
  margin-bottom: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  width: 180px;
  height: 42px;
  color: #FFFFFF;
  border-radius: 25px;
  background-color: #070707;
}

.section-contact .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  margin-bottom: 45px;
}

.section-contact .social_text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  text-align: center;
  color: #828282;
}
/*# sourceMappingURL=style.css.map */