*{
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto";
    font-weight: 700;
    background-color: #fff;
    font-style: normal;
    color:#070707;
}
a{
    color:inherit;
    text-decoration: none;

}

ul,li{
    margin: 0;padding: 0;
    text-decoration: none;
    list-style: none;
}
address{
    font-style: normal;
}

.section-inner{
    max-width: 973px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
// header
.section-header{
    padding-top: 32px;
    border-bottom: 1px solid #828282;
    .nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &__item{
            font-size: 18px;
            line-height: 22px;
            color:#828282;            
        }
        &__item:hover{
            color:#070707;            
        }
        margin-bottom: 33px;
        
    }
}
// !header

// main
.section-main{
    padding-top: 40px;
    .content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1{
            font-size: 47.3392px;
            line-height: 59px; 
        }
        .info{
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            span{
                display:block;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
            }
        }
        .buttons{
            display: flex;
            
            transform: rotate(-90deg);
            button{
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                color: #828282;
                cursor: pointer;
                border: none; outline: none;
                background-color:inherit;
            }
            button:active{
                
                color: #070707;
            }
        }
          
    }
    .photo{
            margin-bottom: 100px;
            img{
                width: 100%;
                height: 387px;
                object-fit: cover;
                object-position: center 43%;
                
            }
            
        }

}
// !main

// about
.section-about{
    padding-top: 120px;
    padding-bottom: 100px;
    background-color: #F6F6F6;
    .content{
        .content__title{
            font-size: 34px;
            line-height: 42px;
            text-align: center;           
            color: #070707;     
            margin-bottom: 17px;
        }
        &__text{
            margin: 0 auto;
            max-width: 485px;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #070707;            
        }
    }

}
.content__title{
    font-size: 34px;
    line-height: 42px;
    text-align: center;           
    color: #070707;     
}
// !about
// skills
.section-skills{
    padding-top: 90px;
    padding-bottom: 100px;
    .content{
        &__title{
            margin-bottom: 70px;
        }
        &__text{
            font-size: 18px;
            line-height: 22px;
            font-weight: 500;
            text-align: center;
            margin-bottom: 80px;
        }
        &__list{
            .skills__list{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 89px;
                
                .skills__list_item{
                    width: 146px;
                    display: flex;
                    flex-direction: column;
                    .image{
                        height: 88px;
                        margin-bottom: 23px;
                    }
                    .subtext{
                        margin-bottom: 40px;
                        font-size: 14px;
                        line-height: 17px;
                        text-align: center;
                        color: #828282;
                        flex: 1 1 auto;
                        
                    }
                    .stars{
                        display: flex;
                        align-items: flex-end;
                        li:not(:last-child){
                            img{
                                border-radius: 1px;
                            }
                            margin-right: 9px;
                        }
                    }
                }
            }
            
        }
    }

}
// !skills
// portfolio
.section-portfolio{
    padding-top: 110px;
    background: #F6F6F6;
    padding-bottom: 1px;
    
    .content__title{
        margin-bottom: 47px;
    }
    .section-portfolio__block{
        
        &_item{
            margin-bottom: 100px;
            .block__image{
                img{
                    width: 100%;
                    height: auto;
                }
                margin-bottom: 45px;
            }
            .block__subtext{
                font-size: 18px;
                font-weight: 500;
                line-height: 22px;
                text-align: center;
                text-decoration-line: underline;
                
            }
        }
        
    }
}
// !portfolio
// contact
.section-contact{
    padding-top: 115px;
    padding-bottom: 120px;
    .section-inner{
        display: flex;
        flex-direction: column;
        align-items: center ;    }
    .content__title{
        margin-bottom: 20px;
    }
    .subtext{
        margin-bottom: 30px;
        display: block;
        text-align: center;
        
    }
    .send-message_button{
        margin-bottom: 86px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        width: 180px;
        height: 42px;
        color: #FFFFFF;
        border-radius: 25px;
        background-color: #070707;
    }
    .social{
        display: flex;
        gap: 60px;
        margin-bottom: 45px;
    }
    .social_text{
        font-size: 14px;
        line-height: 17px;
        font-weight: 500;
        text-align: center;
        color: #828282;

    }

}
// !contact